# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore

*.DS_Store
/node_modules/*


# Windows image file caches
Thumbs.db
ehthumbs.db

#My ignore
_raw/
_Publish/
.vs
/bin/*
/obj/*
/FP/bin
/FP/obj/Debug
