USE [LMFloorplan]
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 3/02/2019 9:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contracts](
	[ContractId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[OriginatingSystemIdType] [varchar](50) NULL,
	[OriginatingSystemIdValue] [varchar](100) NULL,
	[SystemCode] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[AddedByUserProfileId] [bigint] NULL,
	[ModifiedByUserProfileId] [bigint] NULL,
	[DomainValueId] [bigint] NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DomainValues]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DomainValues](
	[DomainValueId] [bigint] IDENTITY(1,1) NOT NULL,
	[DomainName] [varchar](250) NULL,
	[DomainCode] [varchar](50) NULL,
	[NameValue] [varchar](250) NULL,
	[DisplayValue] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[ChildDomainName] [varchar](250) NULL,
 CONSTRAINT [PK_DomainValues] PRIMARY KEY CLUSTERED 
(
	[DomainValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FloorplanLocations]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FloorplanLocations](
	[FloorplanLocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](100) NULL,
	[MinX] [varchar](50) NULL,
	[MaxX] [varchar](50) NULL,
	[MinY] [varchar](50) NULL,
	[MaxY] [varchar](50) NULL,
	[DateAdded] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[AddedByUserProfileId] [bigint] NULL,
	[ModifiedByUserProfileId] [bigint] NULL,
	[LocationId] [bigint] NULL,
	[FloorplanId] [bigint] NULL,
 CONSTRAINT [PK_FloorplanLocations] PRIMARY KEY CLUSTERED 
(
	[FloorplanLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Floorplans]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Floorplans](
	[FloorplanId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[ImageURL] [varchar](max) NULL,
	[DateAdded] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[AddedByUserProfileId] [bigint] NULL,
	[ModifiedByUserProfileId] [bigint] NULL,
	[ContractId] [bigint] NULL,
	[OriginatingSystemIdValue] [varchar](100) NULL,
	[PropertyTypeCode] [varchar](100) NULL,
 CONSTRAINT [PK_Floorplans] PRIMARY KEY CLUSTERED 
(
	[FloorplanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[LocationId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[OriginatingSystemIdType] [varchar](50) NULL,
	[OriginatingSystemIdValue] [varchar](100) NULL,
	[DateAdded] [datetime] NULL,
	[DateModified] [datetime] NULL,
	[AddedByUserProfileId] [bigint] NULL,
	[ModifiedByUserProfileId] [bigint] NULL,
	[ContractId] [bigint] NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[PropertyId] [int] NOT NULL,
	[ContractId] [int] NOT NULL,
	[PropertyNumber] [varchar](20) NOT NULL,
	[AssetNumber] [varchar](30) NULL,
	[Address] [varchar](200) NOT NULL,
	[PropertyArea] [varchar](100) NULL,
	[PropertyTypeId] [int] NOT NULL,
	[Suburb] [varchar](100) NOT NULL,
	[State] [varchar](50) NOT NULL,
	[Floorplan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTypes]    Script Date: 3/02/2019 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTypes](
	[PropertyTypeId] [bigint] IDENTITY(1,1) NOT NULL,
	[PropertyTypeCode] [varchar](50) NULL,
	[PropertyTypeName] [varchar](100) NULL,
	[ContractId] [bigint] NULL,
 CONSTRAINT [PK_PropertyTypes] PRIMARY KEY CLUSTERED 
(
	[PropertyTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contracts]  WITH NOCHECK ADD  CONSTRAINT [FK_Contracts_DomainValues] FOREIGN KEY([DomainValueId])
REFERENCES [dbo].[DomainValues] ([DomainValueId])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_DomainValues]
GO
ALTER TABLE [dbo].[FloorplanLocations]  WITH NOCHECK ADD  CONSTRAINT [FK_FloorplanLocations_Floorplan] FOREIGN KEY([FloorplanId])
REFERENCES [dbo].[Floorplans] ([FloorplanId])
GO
ALTER TABLE [dbo].[FloorplanLocations] CHECK CONSTRAINT [FK_FloorplanLocations_Floorplan]
GO
ALTER TABLE [dbo].[FloorplanLocations]  WITH NOCHECK ADD  CONSTRAINT [FK_FloorplanLocations_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([LocationId])
GO
ALTER TABLE [dbo].[FloorplanLocations] CHECK CONSTRAINT [FK_FloorplanLocations_Locations]
GO
ALTER TABLE [dbo].[Floorplans]  WITH NOCHECK ADD  CONSTRAINT [FK_Floorplans_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[Floorplans] CHECK CONSTRAINT [FK_Floorplans_Contracts]
GO
ALTER TABLE [dbo].[Locations]  WITH NOCHECK ADD  CONSTRAINT [FK_Locations_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Contracts]
GO
ALTER TABLE [dbo].[PropertyTypes]  WITH NOCHECK ADD  CONSTRAINT [FK_PropertyTypes_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([ContractId])
GO
ALTER TABLE [dbo].[PropertyTypes] CHECK CONSTRAINT [FK_PropertyTypes_Contracts]
GO
