html,
body,
.page {
  height: 100%;
}
body {
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
}
.hidden {
  display: none;
}
.fancybox-slide--iframe .fancybox-content {
  /*width: 1000px;
    height: 800px;*/
  max-width: 70%;
  max-height: 70%;
  margin: 0;
}
#page-message-alert {
  margin-top: 10px;
}
.popup {
  padding: 20px;
}
.popup .edit-buttons {
  padding-bottom: 15px;
}
.popup .edit-buttons .btn {
  margin-bottom: 10px;
}
.page {
  /*background: #fff url(/svg/bg-trans.svg) right top no-repeat;
    background-size: 900px;*/
}
.table-summary-info {
  width: 100%;
}
.table-summary-info td {
  padding: 2px !important;
  font-size: 13px;
  border-top: 1px dotted #666;
  padding-left: 5px;
}
.table-summary-info .location-td {
  font-weight: bold;
  background-color: #ebebeb;
}
.lm-qtip-popover,
.lm-qtip-popover:visited,
.lm-qtip-popover:hover,
.lm-qtip-popover:active {
  text-decoration: none;
}
header #navbarHeader {
  padding-top: 10px;
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-weight: 500;
}
header #navbarHeader .container {
  margin-bottom: 0;
  text-align: right;
}
header #navbarHeader .container ul {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
header #navbarHeader .container ul li {
  display: inline-block;
  border-bottom: 0;
  background-color: #ebebeb;
  padding: 0 5px 0 0;
  /*border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;*/
}
header #navbarHeader .container ul li a {
  text-decoration: none;
  color: #000;
}
header #navbarHeader .container ul li a span {
  text-align: center;
  display: inline-block;
  padding: 5px;
  border-right: 1px dotted #fff;
  background-color: #e1e1e1;
  margin-right: 5px;
}
header .svg-logo svg,
header .svg-logo img {
  height: 110px;
  width: 110px;
}
header .site-title {
  font-family: futura-pt, Helvetica, Arial, sans-serif;
  font-size: 26px;
  padding-top: 6px;
  font-weight: 500;
}
header .navbar-toggler {
  border-color: #666;
  margin-top: 10px;
  border-radius: 3px;
  padding: 3px 8px;
  border: 0;
}
main {
  margin-top: -60px;
  padding-bottom: 50px;
  background: #99def9 url(/svg/bg-trans.svg) right -56px no-repeat;
  background-size: 900px;
  box-shadow: 0px -1px 3px 0px #736773;
}
main .login-info {
  padding-top: 18px;
  font-size: 13px;
}
main .main-body {
  padding-top: 20px;
}
main .main-body .login {
  padding-top: 40px;
}
main .main-body .login hr {
  border-top: 1px dotted #000;
}
main .main-body .login .warning-info p {
  margin-top: 28px;
  font-size: 13px;
}
main .main-body .table-container {
  /*border-radius: 5px;*/
  background-image: url(/Images/transparent.png);
}
main .main-body .table-container .table-container-inner {
  font-size: 13px;
  padding: 15px;
  background: url(/Images/feathered-corner.png) -3px -2px no-repeat;
}
main .main-body .table-container .table-container-inner .btn {
  font-size: 11px !important;
}
main .main-body .dataTables_wrapper .dataTables_length label {
  padding-left: 10px;
}
main .main-body .dataTables_wrapper .dataTables_length label select {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 2px;
}
main .main-body .dataTables_wrapper .dataTables_filter input {
  margin-left: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #ced4da;
  padding-left: 5px;
}
main .main-body .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  /*padding: 3px 8px;*/
  border-radius: 3px;
  margin-top: 7px;
  background: none;
  background-color: #fff;
}
main .main-body .dataTables_wrapper #pageTable thead tr th {
  padding: 10px 10px;
}
main .main-body .dataTables_wrapper #pageTable thead tr th:last-child {
  background: none;
}
main .main-body .dataTables_wrapper #pageTable thead tr .no-click {
  pointer-events: none;
  cursor: default;
}
main .main-body .floorplan-edit .left-panel .canvas-container {
  border: 1px dotted #000;
  overflow: auto;
  margin-bottom: 15px;
  text-align: center;
  background-color: #fff;
}
main .main-body .floorplan-edit .left-panel .canvas-container .temp-image {
  font-size: 250px;
  margin: 40px auto;
}
main .main-body .floorplan-edit .left-panel .canvas-container .temp-image h5 {
  position: relative;
  top: -70px;
}
main .main-body .floorplan-edit .right-panel h5 {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  border-top: 1px dotted #555;
  border-bottom: 1px dotted #555;
  padding-left: 8px;
  padding-right: 8px;
  background-image: url(/Images/transparent.png);
}
main .main-body .floorplan-edit .right-panel h5 .btn-sm {
  padding-left: 3px;
  margin-top: 0;
}
main .main-body .floorplan-edit .right-panel label,
main .main-body .floorplan-edit .right-panel .file-upload .label {
  font-size: 13px;
  margin-bottom: 3px;
}
main .main-body .floorplan-edit .right-panel .form-group {
  margin-bottom: 3px;
}
main .main-body .floorplan-edit .right-panel .form-group .buttons {
  padding-top: 5px;
  padding-bottom: 5px;
}
main .main-body .floorplan-edit .right-panel .form-group .buttons .btn {
  margin-bottom: 4px;
}
main .main-body .floorplan-edit .right-panel .section-container {
  margin-bottom: 10px;
}
main .main-body .floorplan-edit .right-panel .alert {
  padding: 10px;
  font-size: 13px;
}
main .main-body .floorplan-edit .right-panel .field-validation-error {
  font-size: 12px;
}
main .main-body .floorplan-edit .right-panel .floorplan-details .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
main .main-body .floorplan-edit .right-panel .floorplan-details .inputfile + label {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 3px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
main .main-body .floorplan-edit .right-panel .floorplan-locations #add-location {
  color: #fff;
}
main .main-body .floorplan-edit .right-panel .floorplan-locations .min-max .input-group-text,
main .main-body .floorplan-edit .right-panel .floorplan-locations .min-max .form-control {
  font-size: 12px;
  height: 31px;
}
main .main-body .floorplan-edit .floorplan-delete-form {
  text-indent: -2000px;
}
main .main-body .view-floorplan {
  font-size: 13px;
}
main .main-body .view-floorplan .header .icon {
  font-size: 40px;
  margin-right: 10px;
  margin-top: -10px;
}
main .main-body .view-floorplan .header .address {
  margin-left: 15px;
}
main .main-body .view-floorplan .header .period-links a {
  display: block;
  text-decoration: none;
}
main .main-body .view-floorplan .header .period-links a.hover {
  text-decoration: none;
}
main .main-body .view-floorplan .header .period-links a span {
  display: inline-block;
  width: 15px;
  height: 10px;
  border: 1px solid #fff;
}
main .main-body .view-floorplan .header .period-links a.past-year span {
  background-color: #448ccb;
}
main .main-body .view-floorplan .header .period-links a.six-months span {
  background-color: #7cc576;
}
main .main-body .view-floorplan .header .period-links a.completed span {
  background-color: #448ccb;
}
main .main-body .view-floorplan .header .period-links a.in-progress span {
  background-color: #8c6239;
}
main .main-body .view-floorplan .header .period-links a.scoped span {
  background-color: #fff568;
}
main .main-body .view-floorplan .header .period-links a.defected span {
  background-color: #ff0000;
}
main .main-body .view-floorplan .content .left-panel .fp-image-view {
  border: 1px dotted black;
  /*height: @view-fp-panel-height;
                        max-height: @view-fp-panel-height;
                        overflow-y: auto;*/
  background-color: #fff;
}
main .main-body .view-floorplan .content .left-panel .fp-image-view .map {
  background-repeat: no-repeat;
}
main .main-body .view-floorplan .content .left-panel .location-summary-info {
  position: relative;
  bottom: 38px;
  left: 5px;
}
main .main-body .view-floorplan .content .left-panel .location-summary-info a {
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
}
main .main-body .view-floorplan .content .left-panel .location-summary-info a:focus {
  outline: 0;
}
main .main-body .view-floorplan .content .right-panel {
  /*height: @view-fp-panel-height;
                    max-height: @view-fp-panel-height;*/
  overflow: auto;
  background-color: #fff;
  padding: 10px;
  box-shadow: inset 1px 1px 48px 0px #d6cbd6;
  border: 1px solid #b7b7b7;
}
main .main-body .view-floorplan .content .right-panel .type-header {
  background-color: #e1e1e1;
  padding: 5px;
  display: none;
}
main .main-body .view-floorplan .content .right-panel h2,
main .main-body .view-floorplan .content .right-panel h3 {
  margin-top: 5px;
  padding-top: 0;
  margin-bottom: 5px;
  padding-bottom: 0;
  font-size: 22px;
  font-weight: bold;
}
main .main-body .view-floorplan .content .right-panel .tab-content h4 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
}
main .main-body .view-floorplan .content .right-panel .tab-content .type-title-Completed {
  background-color: #448ccb;
  color: #fff;
}
main .main-body .view-floorplan .content .right-panel .tab-content .type-title-InProgress {
  background-color: #8c6239;
  color: #fff;
}
main .main-body .view-floorplan .content .right-panel .tab-content .type-title-Defected {
  background-color: #ff0000 !important;
  color: #fff;
}
main .main-body .view-floorplan .content .right-panel .tab-content .type-title-Scoped {
  background-color: #fff568;
  color: #fff;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="Completed"] .past-year {
  color: #448ccb;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="Completed"] .six-months {
  color: #7cc576;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="Completed"] h4 {
  color: #448ccb;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="InProgress"] h4 {
  color: #8c6239;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="Defected"] h4 {
  color: #ff0000 !important;
}
main .main-body .view-floorplan .content .right-panel .tab-content [id^="Scoped"] h4 {
  color: #fff568;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: block;
  height: 41px;
  border-bottom: 1px solid #ddd;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li {
  float: left;
  margin-bottom: -1px;
  position: relative;
  display: block;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,f6f6f6+53,ffffff+100 */
  background: #ededed;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ededed 0%, #f6f6f6 53%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  /*background-color: #e1e1e1;*/
  text-decoration: none;
  font-weight: bold;
  border-bottom: 0;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a.selected {
  color: #555;
  cursor: default;
  background: none !important;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 2px solid #fff;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a[data-anchor-type="Completed"],
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a[data-anchor-type="Completed"]:hover {
  color: #448ccb;
}
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a[data-anchor-type="Defected"],
main .main-body .view-floorplan .content .right-panel .tab-content .pane-nav li a[data-anchor-type="Defected"]:hover {
  color: #ff0000;
}
main .main-body .view-floorplan .content .right-panel .tab-content table tr td {
  padding: 4px;
}
main .main-body .view-floorplan .content .right-panel .tab-content table tr td:first-child {
  font-weight: bold;
  width: 25%;
}
main .main-body .view-floorplan .content .right-panel .tab-content table tr td:last-child {
  width: 75%;
}
footer {
  box-shadow: 0 -2px 1px 0 #8d878d;
  padding: 15px 0;
}
footer p {
  font-size: 12px;
}
@media (max-width: 575px) {
  header #navbarHeader .container {
    text-align: left;
  }
  header #navbarHeader .container ul {
    border-bottom: 0;
  }
  header #navbarHeader .container ul li {
    display: block;
    border-right: 0;
    border-bottom: 1px dotted #ccc;
  }
  header #navbarHeader .container ul li a span {
    width: 30px;
  }
  header .site-title {
    padding-left: 72px !important;
  }
  main .dataTables_wrapper .dataTables_length,
  main .dataTables_wrapper .dataTables_filter {
    text-align: left;
  }
  main .main-body .view-floorplan .content .right-panel {
    margin-left: 15px;
    margin-right: 15px;
  }
  main .period-links {
    margin-left: auto;
    padding-left: auto;
    padding-bottom: 10px;
  }
  main .view-floorplan .content .left-panel {
    margin-bottom: -20px;
  }
  .fancybox-slide--iframe .fancybox-content {
    max-width: 95%;
  }
}
@media (min-width: 576px) {
  header #navbarHeader .container {
    text-align: left;
  }
  header #navbarHeader .container ul {
    border-bottom: 0;
  }
  header #navbarHeader .container ul li {
    display: block;
    border-right: 0;
    border-bottom: 1px dotted #ccc;
  }
  header #navbarHeader .container ul li a span {
    width: 30px;
  }
  header .site-title {
    padding-left: 55px !important;
  }
  main .dataTables_wrapper .dataTables_length,
  main .dataTables_wrapper .dataTables_filter {
    text-align: left;
  }
  main .main-body .view-floorplan .content .right-panel {
    margin-left: auto;
    margin-right: auto;
  }
  main .period-links {
    margin-left: -1px;
    padding-left: 0;
    padding-bottom: 10px;
  }
  .fancybox-slide--iframe .fancybox-content {
    max-width: 70%;
  }
}
@media (min-width: 768px) {
  header #navbarHeader .container {
    text-align: right;
  }
  header #navbarHeader .container ul {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
  }
  header #navbarHeader .container ul li {
    display: inline-block;
    border-bottom: 0;
  }
  header .site-title {
    padding-left: 42px !important;
  }
  header .period-links {
    margin-left: auto;
    padding-left: auto;
    padding-bottom: auto;
  }
  main .dataTables_wrapper .dataTables_length,
  main .dataTables_wrapper .dataTables_filter {
    text-align: center;
  }
  main .table-container .table-container-inner .btn {
    margin-bottom: 5px;
    width: 70px;
  }
}
@media (min-width: 992px) {
  header .site-title {
    padding-left: 25px !important;
    /*font-size: 22px !important;*/
    /*line-height: normal !important;*/
  }
  main .table-container .table-container-inner .btn {
    margin-bottom: auto;
    width: auto;
  }
}
@media (min-width: 1200px) {
  header .site-title {
    padding-left: 12px !important;
    /*font-size: 22px !important;*/
    /*line-height: normal !important;*/
  }
}
