<div id="page-message-alert" class="hidden">
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" onclick="javascript:$('#page-message-alert').addClass('hidden');"><span aria-hidden="true">&times;</span></button>
        <span class="message"></span>
    </div>
</div>
